/* line 22, ../scss/components.scss */
#all {
  height: auto;
  position: static;
  margin-top: 200px;
}

/* line 28, ../scss/components.scss */
.module {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* line 39, ../scss/components.scss */
.speaker-massive-1,
.speaker-massive-2,
.speaker-1 {
  flex-wrap: wrap;
}
/* line 44, ../scss/components.scss */
.speaker-massive-1.grid-x-0,
.speaker-massive-2.grid-x-0,
.speaker-1.grid-x-0 {
  padding-left: 0;
}
/* line 48, ../scss/components.scss */
.speaker-massive-1 .speaker-hole,
.speaker-massive-2 .speaker-hole,
.speaker-1 .speaker-hole {
  width: 100%;
  background: #333;
  height: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 1px #FFF;
}

/* line 58, ../scss/components.scss */
.speaker-1 {
  padding: 100px;
  justify-content: space-around;
}
/* line 62, ../scss/components.scss */
.speaker-1 .speaker-hole {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}
/* line 68, ../scss/components.scss */
.speaker-1 .speaker-hole:last-child {
  margin-bottom: 0;
}

/* line 75, ../scss/components.scss */
.speaker-massive-1 .left-half,
.speaker-massive-1 .right-half {
  width: 40%;
}
/* line 80, ../scss/components.scss */
.speaker-massive-1 .left-half {
  margin-right: 10px;
}

/* line 85, ../scss/components.scss */
.speaker-massive-2 {
  padding: 100px;
}

/* line 89, ../scss/components.scss */
.knob-series-small,
.knob-series-medium,
.knob-single {
  display: flex;
}
/* line 93, ../scss/components.scss */
.knob-series-small:last-child,
.knob-series-medium:last-child,
.knob-single:last-child {
  margin-right: 0;
}
/* line 97, ../scss/components.scss */
.knob-series-small .knob,
.knob-series-medium .knob,
.knob-single .knob {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  position: relative;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.2), inset 0 3px 1px rgba(255, 255, 255, 0.9), 0px 0px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.05), -2px 2px 2px rgba(0, 0, 0, 0.04737), -3px 3px 2px rgba(0, 0, 0, 0.04474), -4px 4px 2px rgba(0, 0, 0, 0.04211), -5px 5px 2px rgba(0, 0, 0, 0.03947), -6px 6px 2px rgba(0, 0, 0, 0.03684), -7px 7px 2px rgba(0, 0, 0, 0.03421), -8px 8px 2px rgba(0, 0, 0, 0.03158), -9px 9px 2px rgba(0, 0, 0, 0.02895), -10px 10px 2px rgba(0, 0, 0, 0.02632), -11px 11px 2px rgba(0, 0, 0, 0.02368), -12px 12px 2px rgba(0, 0, 0, 0.02105), -13px 13px 2px rgba(0, 0, 0, 0.01842), -14px 14px 2px rgba(0, 0, 0, 0.01579), -15px 15px 2px rgba(0, 0, 0, 0.01316), -16px 16px 2px rgba(0, 0, 0, 0.01053), -17px 17px 2px rgba(0, 0, 0, 0.00789), -18px 18px 2px rgba(0, 0, 0, 0.00526), -19px 19px 2px rgba(0, 0, 0, 0.00263), -20px 20px 2px transparent;
}
/* line 109, ../scss/components.scss */
.knob-series-small .knob:after,
.knob-series-medium .knob:after,
.knob-single .knob:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 25%;
  transform: rotate(45deg);
  transform-origin: 50% 200%;
  background-color: #EA5D5D;
}

/* line 125, ../scss/components.scss */
.knob-series-small .knob {
  width: 80px;
  height: 80px;
}
/* line 129, ../scss/components.scss */
.knob-series-small .knob:after {
  background-color: #666;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  top: 10px;
  left: 50%;
  transform-origin: 0 30px;
}

/* line 142, ../scss/components.scss */
.knob-series-medium .knob {
  margin-right: 50px;
}
/* line 145, ../scss/components.scss */
.knob-series-medium .knob:last-child {
  margin-right: 0;
}

/* line 151, ../scss/components.scss */
.meter {
  padding: 20px;
}
/* line 154, ../scss/components.scss */
.meter .meter-inner {
  width: 100%;
  height: 100%;
  background-color: #E8E5DD;
  position: relative;
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(0, 0, 0, 0.3);
}
/* line 163, ../scss/components.scss */
.meter .meter-inner:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #EA5D5D;
  top: 34px;
}

/* line 175, ../scss/components.scss */
.switch-series-medium .switch-well {
  display: flex;
  border-radius: 6px;
  border: 1px solid #666;
  border-top-color: #eee;
  background-color: #666;
}
/* line 183, ../scss/components.scss */
.switch-series-medium .switch {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 2px;
  background: linear-gradient(to right, #eee, #ccc);
  border-radius: 4px;
  border-bottom: 4px solid #aaa;
  box-shadow: inset -2px 0 1px 1px rgba(255, 255, 255, 0.7), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), 0px 0px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.05), -2px 2px 2px rgba(0, 0, 0, 0.04737), -3px 3px 2px rgba(0, 0, 0, 0.04474), -4px 4px 2px rgba(0, 0, 0, 0.04211), -5px 5px 2px rgba(0, 0, 0, 0.03947), -6px 6px 2px rgba(0, 0, 0, 0.03684), -7px 7px 2px rgba(0, 0, 0, 0.03421), -8px 8px 2px rgba(0, 0, 0, 0.03158), -9px 9px 2px rgba(0, 0, 0, 0.02895), -10px 10px 2px rgba(0, 0, 0, 0.02632), -11px 11px 2px rgba(0, 0, 0, 0.02368), -12px 12px 2px rgba(0, 0, 0, 0.02105), -13px 13px 2px rgba(0, 0, 0, 0.01842), -14px 14px 2px rgba(0, 0, 0, 0.01579), -15px 15px 2px rgba(0, 0, 0, 0.01316), -16px 16px 2px rgba(0, 0, 0, 0.01053), -17px 17px 2px rgba(0, 0, 0, 0.00789), -18px 18px 2px rgba(0, 0, 0, 0.00526), -19px 19px 2px rgba(0, 0, 0, 0.00263), -20px 20px 2px transparent;
}
/* line 197, ../scss/components.scss */
.switch-series-medium .switch:nth-child(1) {
  z-index: 4;
}
/* line 197, ../scss/components.scss */
.switch-series-medium .switch:nth-child(2) {
  z-index: 3;
}
/* line 197, ../scss/components.scss */
.switch-series-medium .switch:nth-child(3) {
  z-index: 2;
}
/* line 197, ../scss/components.scss */
.switch-series-medium .switch:nth-child(4) {
  z-index: 1;
}
/* line 202, ../scss/components.scss */
.switch-series-medium .switch.depressed {
  z-index: 0;
  background: linear-gradient(to right, #ddd, #ccc);
  border-bottom: 1px solid #999;
  top: 1px;
  box-shadow: inset -1px 0 1px 1px rgba(255, 255, 255, 0.4), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), 0px 0px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.05), -2px 2px 2px rgba(0, 0, 0, 0.04643), -3px 3px 2px rgba(0, 0, 0, 0.04286), -4px 4px 2px rgba(0, 0, 0, 0.03929), -5px 5px 2px rgba(0, 0, 0, 0.03571), -6px 6px 2px rgba(0, 0, 0, 0.03214), -7px 7px 2px rgba(0, 0, 0, 0.02857), -8px 8px 2px rgba(0, 0, 0, 0.025), -9px 9px 2px rgba(0, 0, 0, 0.02143), -10px 10px 2px rgba(0, 0, 0, 0.01786), -11px 11px 2px rgba(0, 0, 0, 0.01429), -12px 12px 2px rgba(0, 0, 0, 0.01071), -13px 13px 2px rgba(0, 0, 0, 0.00714), -14px 14px 2px rgba(0, 0, 0, 0.00357), -15px 15px 2px transparent;
}
/* line 215, ../scss/components.scss */
.switch-series-medium .switch:first-child {
  margin-left: 0;
}
