/* line 1, ../scss/grid.scss */
body {
  background-color: #444;
  font: 200 normal 20px/1 "neuzeit-grotesk", "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000px;
  min-height: 100vh;
}

/* line 12, ../scss/grid.scss */
main {
  margin: auto;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 20, ../scss/grid.scss */
.cube {
  width: 600px;
  height: 600px;
  transform-style: preserve-3d;
  transform: translateZ(-300px);
  transition: all .5s;
}
/* line 27, ../scss/grid.scss */
.viewHelp .cube {
  transform: translateZ(-300px) rotateX(90deg);
}

/* line 32, ../scss/grid.scss */
.front-face,
.about-face {
  width: 100%;
  height: 100%;
  padding: 60px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: inset 0 5px 5px #FFF, 0 6px 10px #000, 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}
/* line 49, ../scss/grid.scss */
.viewHelp .front-face, .viewHelp
.about-face {
  box-shadow: none;
}

/* line 54, ../scss/grid.scss */
.front-face {
  transform: rotateX(0deg) translateZ(300px);
}

/* line 58, ../scss/grid.scss */
.about-face {
  transform: rotateX(-90deg) translateZ(300px);
}
/* line 61, ../scss/grid.scss */
.about-face h1 {
  font-weight: 700;
  font-size: 73px;
  margin-top: 0;
  line-height: 0.9;
  margin-bottom: 77px;
  letter-spacing: -0.9px;
  position: relative;
  color: #444;
}
/* line 71, ../scss/grid.scss */
.about-face h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 1em;
  height: 10px;
  background-color: #444;
}
/* line 82, ../scss/grid.scss */
.about-face h2 {
  max-width: 10em;
  color: #444;
}
/* line 87, ../scss/grid.scss */
.about-face p {
  font-size: 13px;
  margin: 30px 0;
  font-weight: 400;
  line-height: 1.5;
  font-family: "leitura-news", Georgia;
  max-width: 35em;
}
/* line 95, ../scss/grid.scss */
.about-face p span {
  font-family: monospace;
}
/* line 100, ../scss/grid.scss */
.about-face .share-p {
  margin: 0;
  margin-bottom: 10px;
  font-family: neuzeit-grotesk;
  text-transform: uppercase;
  color: #444;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
}
/* line 111, ../scss/grid.scss */
.about-face code {
  width: 100%;
  display: block;
  background-color: white;
  font-size: 14px;
  padding: 10px;
  margin-top: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #444;
  font-family: monospace;
}
/* line 125, ../scss/grid.scss */
.about-face .links {
  max-width: none;
  margin-top: 20px;
  font-family: "neuzeit-grotesk";
  font-size: 15px;
}
/* line 131, ../scss/grid.scss */
.about-face .links a {
  font-family: neuzeit-grotesk;
  text-transform: uppercase;
  color: #444;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
}
/* line 142, ../scss/grid.scss */
.about-face a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}
/* line 148, ../scss/grid.scss */
.about-face a:hover {
  text-decoration: underline;
}

/* line 154, ../scss/grid.scss */
.help {
  width: 12px;
  height: 12px;
  font-size: 14px;
  position: absolute;
  right: -60px;
  color: white;
  bottom: 0;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px 3px;
  text-indent: 4px;
  display: block;
  transition: opacity 2s;
  opacity: 0;
}
/* line 171, ../scss/grid.scss */
.help:hover, .viewHelp .help {
  background-color: white;
  color: #444;
}

/* line 178, ../scss/grid.scss */
#all-component-templates {
  display: none;
}

/* line 182, ../scss/grid.scss */
.grid-master {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}
/* line 191, ../scss/grid.scss */
.grid-master > div {
  position: absolute;
  box-sizing: border-box;
}

/* line 199, ../scss/grid.scss */
.grid-width-0 {
  width: 0px;
}

/* line 202, ../scss/grid.scss */
.grid-height-0 {
  height: 0px;
}

/* line 205, ../scss/grid.scss */
.grid-x-0 {
  left: 0px;
}

/* line 208, ../scss/grid.scss */
.grid-y-0 {
  top: 0px;
}

/* line 199, ../scss/grid.scss */
.grid-width-1 {
  width: 60px;
}

/* line 202, ../scss/grid.scss */
.grid-height-1 {
  height: 60px;
}

/* line 205, ../scss/grid.scss */
.grid-x-1 {
  left: 60px;
}

/* line 208, ../scss/grid.scss */
.grid-y-1 {
  top: 60px;
}

/* line 199, ../scss/grid.scss */
.grid-width-2 {
  width: 120px;
}

/* line 202, ../scss/grid.scss */
.grid-height-2 {
  height: 120px;
}

/* line 205, ../scss/grid.scss */
.grid-x-2 {
  left: 120px;
}

/* line 208, ../scss/grid.scss */
.grid-y-2 {
  top: 120px;
}

/* line 199, ../scss/grid.scss */
.grid-width-3 {
  width: 180px;
}

/* line 202, ../scss/grid.scss */
.grid-height-3 {
  height: 180px;
}

/* line 205, ../scss/grid.scss */
.grid-x-3 {
  left: 180px;
}

/* line 208, ../scss/grid.scss */
.grid-y-3 {
  top: 180px;
}

/* line 199, ../scss/grid.scss */
.grid-width-4 {
  width: 240px;
}

/* line 202, ../scss/grid.scss */
.grid-height-4 {
  height: 240px;
}

/* line 205, ../scss/grid.scss */
.grid-x-4 {
  left: 240px;
}

/* line 208, ../scss/grid.scss */
.grid-y-4 {
  top: 240px;
}

/* line 199, ../scss/grid.scss */
.grid-width-5 {
  width: 300px;
}

/* line 202, ../scss/grid.scss */
.grid-height-5 {
  height: 300px;
}

/* line 205, ../scss/grid.scss */
.grid-x-5 {
  left: 300px;
}

/* line 208, ../scss/grid.scss */
.grid-y-5 {
  top: 300px;
}

/* line 199, ../scss/grid.scss */
.grid-width-6 {
  width: 360px;
}

/* line 202, ../scss/grid.scss */
.grid-height-6 {
  height: 360px;
}

/* line 205, ../scss/grid.scss */
.grid-x-6 {
  left: 360px;
}

/* line 208, ../scss/grid.scss */
.grid-y-6 {
  top: 360px;
}

/* line 199, ../scss/grid.scss */
.grid-width-7 {
  width: 420px;
}

/* line 202, ../scss/grid.scss */
.grid-height-7 {
  height: 420px;
}

/* line 205, ../scss/grid.scss */
.grid-x-7 {
  left: 420px;
}

/* line 208, ../scss/grid.scss */
.grid-y-7 {
  top: 420px;
}

/* line 199, ../scss/grid.scss */
.grid-width-8 {
  width: 480px;
}

/* line 202, ../scss/grid.scss */
.grid-height-8 {
  height: 480px;
}

/* line 205, ../scss/grid.scss */
.grid-x-8 {
  left: 480px;
}

/* line 208, ../scss/grid.scss */
.grid-y-8 {
  top: 480px;
}
