@function makeShadow($original-shadow, $l) {
  $val: #{$original-shadow}, 0px 0px rgba(0,0,0,0.1);
  @for $i from 1 through $l {
    $start1: 1;
    $stop1: $l;
    $start2: 0.05;
    $stop2: 0;
    $opacity: ((($i - $start1)/($stop1 - $start1))*($stop2 - $start2) + $start2);
    $val: #{$val}, -#{$i - 1}px #{$i}px 2px rgba(0,0,0, $opacity);
  }
  @return $val;
}

@mixin longshadow($original-shadow: "") {
  box-shadow: makeShadow($original-shadow, 20);
}

@mixin shortshadow($original-shadow: "") {
  box-shadow: makeShadow($original-shadow, 15);
}

/** 
  * 
  *
  *   GLOBALS AND CURSORS
  * 
  * 
*/

#all {
  height: auto;
  position: static;
  margin-top: 200px;
}

.debug .module {
  border: 1px solid #ddd;
}

.module {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.knob {
  cursor: ns-resize;
}
.slider {
  cursor: ew-resize;
}
.switch,
.button {
  cursor: pointer;
}

/** 
  * 
  *
  *   INDIVIDUAL COMPONENTS
  * 
  * 
*/

/** 
  *
  *   Speakers
  * 
*/

#speaker-massive-1,
#speaker-massive-2,
#speaker-1 {
  flex-wrap: wrap;

  .speaker-hole {
    width: 100%;
    background: #333;
    height: 6px;
    margin-bottom: 6px;
    border-radius: 6px;
    box-shadow: 0 2px 1px #FFF;
  }
}

#speaker-1 {
  padding: 10%;

  .speaker-box {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .speaker-hole {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 10px;
  }
}

#speaker-massive-1 {
  .left-half,
  .right-half {
    width: 40%;
  }

  .left-half {
    margin-right: 10px;
  }

  //padding vanity
  &.grid-x-0 { padding-left: 0; padding-right: 0 }
  &.grid-y-0 { padding-top: 0 }
  &.grid-y-3 { padding-bottom: 0 }
}

#speaker-massive-2 {
  padding: 100px;

  //padding vanity
  &.grid-y-0 { padding-top: 0; padding-bottom: 0 }
  &.grid-x-0 { padding-left: 0 }
  &.grid-x-3 { padding-right: 0 }
}

/** 
  * 
  *   Buttons
  * 
*/

#button-single {
  .button-well {
    display: flex;
    border-radius: 50%;
    border: 1px solid #666;
    background-color: #aaa;
    width: 18%;
    height: 18%;
  }

  .button {
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    top: -2px;
    background: linear-gradient(to right, #da2d56, #ce2f0a);
    border-radius: 50%;
    border-bottom: 2px solid darken(#da2d56, 20);
    transition: all .2s;
    $original-shadow: inset -2px 0 1px 1px rgba(255,255,255,.2),
      inset 0 0 8px 8px rgba(128,128,128,.1),
      inset -10px 4px 10px 2px rgba(0,0,0,0.05);

    box-shadow: makeShadow($original-shadow, 10);

    &.depressed {
      top: 0;
      background: linear-gradient(to right, darken(#da2d56,5), #af2505);
      border-bottom: 0 solid darken(#da2d56, 20);
      box-shadow: makeShadow($original-shadow, 2);
    }
  }
}

/** 
  *
  *   Knobs
  * 
*/

#knob-series-small,
#knob-series-medium,
#knob-single {
    display: flex;

  .knob {
    width: 25%;
    padding-bottom: 25%;
    border-radius: 50%;
    background-color: #eee;
    position: relative;

    $original-shadow: inset 0 -3px 1px rgba(0,0,0,0.2), 
                  inset 0 3px 1px rgba(255,255,255,.9);
    @include longshadow($original-shadow);

    //marker
    .indicator {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 3px;
      height: 25%;
      transform: rotate(0deg);
      transform-origin: 50% 200%;
      background-color: #EA5D5D;
    }
  }
}

#knob-series-small {
  .knob {
    width: 70%;
    height: 70%;
    padding-bottom: 0;

    .indicator {
      background-color: #666;
      width: 3px;
      height: 3px;
      border-radius: 3px;
      top: 10px;
      left: 50%;
      transform-origin: 0 30px;
    }
  }
}

#knob-series-medium {
  padding: 5%;
  justify-content: space-between;
}

/** 
  *
  *   Sliders
  * 
*/

#slider-horizontal-3,
#slider-horizontal-4 {
  padding: 20px;

  .slider-well {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    position: relative;
  }

  .slider {
    position: absolute;
    left: 0;
    top: -15px;
    height: 30px;
    width: 15px;
    background: linear-gradient(#ddd, #bbb);
    border-radius: 2px;
    border: 1px solid #bbb;
    border-top: 1px solid #eee;
    border-bottom: 5px solid #777;
    $original-shadow:
      -1px 2px 2px rgba(0,0,0,.4),
      inset -10px 4px 10px 2px rgba(0,0,0,0.05);

    box-shadow: makeShadow($original-shadow, 7);
  }
}

/** 
  *
  *   Meters
  * 
*/

#meter {
  padding: 20px 20px 18px 20px;

  .meter {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;
    box-shadow: inset 0 0px 3px rgba(0,0,0,0.2),
                  inset 0 2px 1px rgba(0,0,0,0.3);


    .indicator {
      content: "";
      width: 100%;
      position: absolute;
      height: 3px;
      background-color: #EA5D5D;
      top: 34px;
    }
  }
}

/** 
  *
  *   Switches
  * 
*/

#switch-series-small,
#switch-series-medium {
  .switch-well {
    display: flex;
    border-radius: 6px;
    border: 1px solid #666;
    border-top-color: #eee;
    background-color: #666;
    width: 80%;
    height: 40%;
  }

  .switch {
    position: relative;
    width: 50%;
    height: 90%;
    top: -5px;
    max-width: 100px;
    max-height: 50px;
    margin-left: 2px;
    background: linear-gradient(to right, #eee, #ccc);
    border-radius: 0;
    border-bottom: 10px solid #aaa;
    transition: all .2s;
    $original-shadow: inset -2px 0 1px 1px rgba(255,255,255,.7),
      inset 0 0 8px 8px rgba(128,128,128,.1),
      inset -10px 4px 10px 2px rgba(0,0,0,0.05);

    @include longshadow($original-shadow);

    &:first-child {
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        z-index: 5-$i;
      }
    }

    &.depressed {
      z-index: 0;
      background: linear-gradient(to right, #ddd, #ccc);
      top: 1px;
      border-bottom: 4px solid #999;
      $original-shadow: inset -1px 0 1px 1px rgba(255,255,255,.4),
        inset 0 0 8px 8px rgba(128,128,128,.1),
        inset -10px 4px 10px 2px rgba(128,128,128,0.05),
        inset -10px 4px 10px 2px rgba(128,128,128,0.05);

      @include shortshadow($original-shadow);

    }

    &:first-child {
      margin-left: 0;
    }
  }
}

#switch-series-small {
  .switch-well {
    height: 30%;
    border-radius: 2px;
  }
  .switch {
    width: 60%;
    border-radius: 0px;
    border-bottom: 8px solid #aaa;

    &:first-child {
      border-bottom-left-radius: 2px;
    }

    &:last-child {
      border-bottom-right-radius: 2px;
    }

    &.depressed {
      top: -1px;
    }
  }
}