body {
  background-color: #444;
  font: 200 normal 20px/1 "neuzeit-grotesk", "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000px;
  min-height: 100vh;
}

$grid-unit: 60px;

main {
  margin: auto;
  width: ($grid-unit * 10);
  height: ($grid-unit * 10);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.cube {
  width: ($grid-unit * 10);
  height: ($grid-unit * 10);
  transform-style: preserve-3d;
  transform: translateZ(-300px);
  transition: all .5s;

  .viewHelp & {
    transform: translateZ(-300px) rotateX(90deg);
  }
}

.front-face,
.about-face {
  width: 100%;
  height: 100%;
  padding: $grid-unit;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: inset 0 5px 5px #FFF,
                0 6px 10px #000,
                0 15px 20px rgba(0,0,0,0.2);
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;

  .viewHelp & {
    box-shadow: none;
  }
}

.front-face {
  transform: rotateX(0deg) translateZ(300px);
}

.about-face {
  transform: rotateX(-90deg) translateZ(300px);

  h1 {
    font-weight: 700;
    font-size: 73px;
    margin-top: 0;
    line-height: 0.9;
    margin-bottom: 77px;
    letter-spacing: -0.9px;
    position: relative;
    color: #444;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -40px;
      width: 1em;
      height: 10px;
      background-color: #444;
    }
  }

  h2 {
    max-width: 10em;
    color: #444;
  }

  p {
    font-size: 13px;
    margin: 30px 0;
    font-weight: 400;
    line-height: 1.5;
    font-family: "leitura-news", Georgia;
    max-width: 35em;

    span {
      font-family: monospace;
    }
  }

  .share-p {
    margin: 0;
    margin-bottom: 10px;
    font-family: neuzeit-grotesk;
    text-transform: uppercase;
    color: #444;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
  }

  code {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 14px;
    padding: 10px;
    margin-top: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    font-family: monospace;
  }

  .links {
    max-width: none;
    margin-top: 20px;
    font-family: "neuzeit-grotesk";
    font-size: 15px;

    a {
      font-family: neuzeit-grotesk;
      text-transform: uppercase;
      color: #444;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 12px;
      font-style: normal;
    }
  }

  a {
    color: inherit;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.help {
  width: 12px;
  height: 12px;
  font-size: 14px;
  position: absolute;
  right: -60px;
  color: white;
  bottom: 0;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px 3px;
  text-indent: 4px;
  display: block;
  transition: opacity 2s;
  opacity: 0;

  &:hover,
  .viewHelp & {
    background-color: white;
    color: #444;
  }
}

#all-component-templates {
  display: none;
}

.grid-master {
  width: ($grid-unit * 8);
  height: ($grid-unit * 8);
  // border: 1px solid #999;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;

  & > div {
    position: absolute;
    box-sizing: border-box;
    // border: 1px solid rgba(0,0,0,0.2);
  }
}

@for $i from 0 through 8 {
  .grid-width-#{$i} {
    width: ($i * $grid-unit);
  }
  .grid-height-#{$i} {
    height: ($i * $grid-unit);
  }
  .grid-x-#{$i} {
    left: ($i * $grid-unit);
  }
  .grid-y-#{$i} {
    top: ($i * $grid-unit);
  }
}
